<% provide(:title, "Help") %>
<h1>Sample App</h1>
<p>
This it the home page for the BumbleeBee app in progress. You can find it <a href="./help">here</>
</p>
<a href="#">test</a>

<%= form_tag 'http://212.235.208.133:9001/classify', id: 'myForm', multipart: true, target: 'myFrame', remote: true do %>
  <span class="btn btn-primary btn-large btn-block btn-file">Select recording
  <%= file_field_tag 'file', accept: 'audio/wav' %>
  </span>
  <%= submit_tag 'Classify', id: "submit-button", class: "btn btn-primary btn-large btn-block" %>
<% end %>

<div>
    <iframe name=myFrame id='iframe2' frameborder="0" style="overflow: hidden; height: 100%;
        width: 100%; position: absolute;" height="100%" width="100%"></iframe>
</div>

