<div class="row">
  <h1>Recognize bumblebee</h1>
  <p id="mob-p">1) Tap on a button 'Select recording' to load sound (file type must be <b>wav</b>) from your device</p> 
  <p id="mob-p">2) Tap on a button 'results' to get results about bumblebee</p>
  <p id="mob-p"><em id="mob-em">Note: you must be connected to the internet for results to work</em></p>

  <%= form_tag 'http://212.235.208.133:9001/classify', id: 'myForm', multipart: true, target: 'myFrame', remote: true do %>
    <span class="btn btn-primary btn-xlarge btn-block btn-file">Select recording
    <%= file_field_tag 'file', accept: 'audio/wav' %>
    </span>
    <%= submit_tag 'Classify', id: "submit-button", class: "btn btn-primary btn-xlarge btn-block" %>
  <% end %>

  <div>
      <iframe name=myFrame id='iframe-mobi' frameborder="0" style="overflow: hidden; height: 100%;
          width: 100%; position: absolute;" height="100%" width="100%"></iframe>
  </div>

</div>
