<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="bumblebee_form">
        <%= render 'shared/bumblebee_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Bumblebee Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Bumblebee App</h1>
    This it the home page for the Bunblebee app in progress. You can find it <%= link_to "here", '#' %>.

    <h2>
      This is the home page for the <a href=".">BunbleBee app</a>
    </h1>


    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails logo"), 
              'http://rubyonrails.org/' %>
<% end %>
