<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
  <%# Here Rails infers that @users is a list of User objects; moreover, when called with a collection of users, Rails automatically iterates through them and renders each one with the _user.html.erb partial. %>
</ul>

<%= will_paginate %>
