<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.bumblebees.any? %>
      <h3>Bumblebees: <%= @user.bumblebees.count %></h3>
      <ol class="bumblebees">
        <%= render @bumblebees %>
      </ol>
      <%= will_paginate @bumblebees %>
    <% end %>
  </div>
</div>
