<%= form_for(@bumblebee, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :description, placeholder: "Add bumblebee description" %>
  </div>
  <%= f.text_field :species,     placeholder: "Enter species name" %>
  <%= f.select :gender_type, options_for_select({ "select gender/type" => 2, 
                             "worker" => 0, "queen" => 1 }, selected: f.object.gender_type) %>


  <%= image_tag @bumblebee.picture.url(:thumb) if @bumblebee.picture? %>

  <p></p>
  choose image:
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
  <a href="<%= @bumblebee.sound.url %>">Play sound</a>
  <p></p>
  choose sound:
  <span class="sound">
    <%= f.file_field :sound %>
  </span>
  <%= f.submit "Save bumblebee", class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
  $('#bumblebee_picture').bind('change', function() {
    size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>

<script type="text/javascript">
  $('#bumblebee_sound').bind('change', function() {
    size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
