<% if @feed_items.any? %>
  <ol class="bumblebees">
    <% # because each element of @feed_items has class Bumblebee rails know to call the bumblebee partial %>
    <%= render @feed_items %>
  </ol>
  <%= will_paginate @feed_items %>
<% end %>
