<li id="bumblebee-<%= bumblebee.id %>">
  <%= link_to gravatar_for(bumblebee.user, size: 50), bumblebee.user %>
  <span class="user"><%= link_to bumblebee.user.name, bumblebee.user %></span>
  <span class="description">
    <%= bumblebee.description %>
    <% if bumblebee.species != "" %>
      <em>Species: </em><%= bumblebee.species %>
    <% end %>
    <% if bumblebee.gender_type == 0 %>
      -worker-
    <% elsif bumblebee.gender_type == 1 %>
      -queen-
    <% else %>
      -no gender/type-
    <% end %>
    <%= image_tag bumblebee.picture.url() if bumblebee.picture? %>
    <a href="<%= bumblebee.sound.url %>">Play sound</a>
  </span>
  <span class="timestamp">
    Added <%= time_ago_in_words(bumblebee.created_at) %> ago.
    <% if current_user?(bumblebee.user) || user_admin? %>
      <%= link_to "delete",  bumblebee, method: :delete,
                                       data: { confirm: "You sure?" } %>
                                     |
      <%= link_to "edit",    edit_bumblebee_path(bumblebee) %>
      <% if user_admin? %>
        <%= form_for(bumblebee) do |f| %>
          <%= f.hidden_field :approved, :value => "true" %>
          <%= f.submit "Confirm", class: "btn btn-prinary" %>
        <% end %>
      <% end %>
    <% end %>
  </span>
</li>
