<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="bumblebee_form">
        <%= render 'shared/bumblebee_form_edit' %>
      </section>
    </aside>
  </div>
<% end %>
