<h3>All confirmed bumblebees</h3>
<div class="bumblebees-index">
    <% @bumblebees.reorder('updated_at desc').each do |b| %>
      <% gender = "" %>
      <% gender = "worker" if b.gender_type ==  0 %>
      <% gender = "queen" if b.gender_type ==  1 %>
      <% gender = "no_gender" if b.gender_type == 2 %>
      <ul>
        <li>id: <%= link_to b.id, b %></li>
        <li>Species: <%= b.species %></li>
        <li>Type: <%= gender %></li>
        <li><%= image_tag b.picture.url() %></li>
        <li id="bumblebee-middle">Description: <%= b.description %></li>
        <li id="bumblebee-right">Sound: <a href="<%= b.sound.url() %>">Play</a></li>
      </ul>
    <% end %>
</div>

