<h3>Single bumblebee</h3>
<div class="bumblebee-index">
  <% gender = "" %>
  <% gender = "worker" if @bumblebee.gender_type ==  0 %>
  <% gender = "queen" if @bumblebee.gender_type ==  1 %>
  <% gender = "no_gender" if @bumblebee.gender_type == 2 %>
  <ul>
    <li>id: <%= @bumblebee.id %></li>
    <li>Species: <%= @bumblebee.species %></li>
    <li>Type: <%= gender %></li>
    <li><%= image_tag @bumblebee.picture.url() %></li>
    <li id="bumblebee-middle">Description: <%= @bumblebee.description %></li>
    <li id="bumblebee-right">Sound: <a href="<%= @bumblebee.sound.url() %>">Play</a></li>
  </ul>
</div>
