<div class="row">
  <div class="col-md-8">
    <h3>Unconfirmed bumblebees</h3>
  </div>
</div>

<% if logged_in? && user_admin? %>
  <div class="row">
    <div class="col-md-8">
      <%= render 'shared/feed' %>
    </div>
  </div>
<% end %>
